---

Checks: '
readability-container-size-empty,
readability-magic-numbers,
readability-function-size,
readability-identifier-naming,
readability-identifier-length,
bugprone-reserved-identifier,
bugprone-suspicious-memory-comparison,
bugprone-unhandled-self-assignment,
bugprone-use-after-move,
bugprone-undelegated-constructor,
cppcoreguidelines-avoid-non-const-global-variables,
cppcoreguidelines-init-variables,
cppcoreguidelines-macro-usage,
cppcoreguidelines-narrowing-conversions,
cppcoreguidelines-prefer-member-initializer,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-special-member-functions,
'

WarningsAsErrors: '*'

CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '40'
  - key: readability-function-size.ParameterThreshold
    value: '5'
  - key: readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumConstantCase
    value: 'CamelCase'
  - key: readability-identifier-naming.MemberCase
    value: 'lower_case'
  - key: readability-identifier-naming.NamespaceCase
    value: 'lower_case'
  - key: readability-identifier-naming.ParameterCase
    value: 'lower_case'
  - key: readability-identifier-naming.StructCase
    value: 'CamelCase'
  - key: readability-identifier-naming.TypeAliasCase
    value: 'aNy_CasE'
  - key: readability-identifier-naming.TypedefCase
    value: 'aNy_CasE'
  - key: readability-identifier-naming.UnionCase
    value: 'CamelCase'
  - key: readability-identifier-naming.ValueTemplateParameterCase
    value: 'CamelCase'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '2'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '2'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2'
  - key: readability-simplify-boolean-expr.ChainedConditionalReturn
    value: '1'
  - key: readability-simplify-boolean-expr.ChainedConditionalAssignment
    value: '1'
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: true
    
